{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
    <section id="project" class="dashboard-profile-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>{{cell.label}}</h2>
					<p><strong>{{cell.notes}}</strong></p>
                    <p>Efficiency: {{cell.eff}} %, J<sub>SC</sub>: {{cell.jsc}} mA/cm<sup>2</sup>, V<sub>OC</sub>: {{cell.voc}} V, Fill Factor: {{cell.ff}} %</p>
                    <div id=plot>
                    </div>
                    <div class="col-lg-12 center">
                        <a class="btn btn-primary page-scroll" href="/user/project/{{project.id}}/">Back to Project</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <style>
        .axis path,
        .axis line {
            fill: none;
            stroke: black;
            shape-rendering: crispEdges;
        }

        .chart circle:hover{
            fill: red;
            stroke: #337ab7; 
            stroke-width: 4;
            cursor:pointer;
            r: 7;
        }

        .chart .label{
            font-weight: 400;
            font-size: 1em;
        }

        path {
            stroke-width: 2;
            fill: none;
            stroke: blue;
            shape-rendering: crispEdges;
        }
    </style>
{% endblock %}

{% block javascript %}
    <script>

    jvPlot('{{cell.file}}')

    </script>
{% endblock %}

