{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
    <section id="project" class="dashboard-profile-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>{{cell.label}}</h2>
                    <p>{{cell.notes}}</p>
                    <p>Uploaded: {{cell.date}}</p>
                    <p>Efficiency: {{cell.eff}} %</p>
                    <p>J<sub>SC</sub>: {{cell.jsc}} mA/cm<sup>2</sup></p>
                    <p>V<sub>OC</sub>: {{cell.voc}} V</p>
                    <p>Fill Factor: {{cell.ff}} %</p>
                    <div id=plot>
                    </div>
                    <div class="col-lg-12 center">
                        <a class="btn btn-primary page-scroll" href="/user/project/{{project.id}}/">Back to Project</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <style>
        .axis path,
        .axis line {
            fill: none;
            stroke: black;
            shape-rendering: crispEdges;
        }

        .chart circle:hover{
            fill: red;
            stroke: #337ab7; 
            stroke-width: 4;
            cursor:pointer;
            r: 7;
        }

        .chart .label{
            font-weight: 400;
            font-size: 1em;
        }

        path {
            stroke-width: 2;
            fill: none;
            stroke: blue;
            shape-rendering: crispEdges;
        }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script>

        var w = 900;
        var h = 500;
        var padding = 60;

        var file = '/media/'+'{{cell.file}}';

        d3.text(file, 'text/csv', function(csv) {
            // remove comment rows with regex - not fully tested, but should work
            csv = csv.replace((/^[#@][^\r\n]+[\r\n]+/mg), '');
            // replace commas with spaces
            csv = csv.replace(/[ ,]+/g, ",");
            // parse data to array
            var dataset = d3.csv.parseRows(csv).map(function(row) {
                return row.map(function(value) {
                    return +value;
                });
            
            });
            for(var i=0; i<dataset.length; i++) {
                dataset[i][1] *= 4000;
                }
            console.log(dataset);

            var svg = d3.select("#plot")
                        .append("svg")
                        .attr("width", w)
                        .attr("height", h)
        
            var xScale = d3.scale.linear()
                                  .domain([d3.min(dataset, function(d) { return d[0]; } ), d3.max(dataset, function(d) { return d[0]; } )]) 
                .range([padding, w - padding]);

            var yScale = d3.scale.linear()
                                  .domain([d3.min(dataset, function(d) { return d[1]; } ), d3.max(dataset, function(d) { return d[1]; } )]) 
                                 .range([h - padding, padding]);

            var line = d3.svg.line()
                .x(function(d) {return xScale(d[0]);})
                .y(function(d) {return yScale(d[1]);});

            var xAxis = d3.svg.axis()
                              .scale(xScale)
                              .orient("bottom")
                              .ticks(5);

            var yAxis = d3.svg.axis()
                              .scale(yScale)
                              .orient("left")
                              .ticks(5);

            svg.selectAll("circle")
               .data(dataset)
               .enter()
               .append("circle")
               .attr("cx", function(d) { return xScale(d[0]) })
               .attr("cy", function(d) { return yScale(d[1]) })
               .attr("r", 2);

            svg.append("path")
               .attr("d", line(dataset))
        
            svg.append("g")
              .attr("class", "axis")
              .attr("transform", "translate(0," + (h - padding) + ")")
              .call(xAxis)

            svg.append("g")
              .attr("class", "axis")
              .attr("transform", "translate(" + padding + ",0)")
              .call(yAxis)
              
        });
    </script>

{% endblock %}
