{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
    <section id="project" class="dashboard-profile-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
					<h2>{{project.title}}</h2>
					<p>{{project.description}}</p>
					<div class="col-lg-12 center">
						<a class="btn btn-primary page-scroll" href="/user/upload/{{project.id}}/">Upload I-V Data</a>
					</div><br />
					{% if cells %}
						<table class="tg">
						  <tr>
							<th class="tg-031e">Label</th>
							<th class="tg-031e">Efficiency (%)</th>
							<th class="tg-031e">Jsc</th>
							<th class="tg-031e">Voc</th>
							<th class="tg-031e">FF</th>
							<th class="tg-031e">Date</th>
							<th class="tg-031e">Data</th>
						  </tr>
						{% for cell in cells %}
						  <tr>
							  <td class="tg-4eph">{{cell.label}}</td>
							  <td class="tg-4eph">{{cell.eff}}</td>
							  <td class="tg-4eph">{{cell.jsc}}</td>
							  <td class="tg-4eph">{{cell.voc}}</td>
							  <td class="tg-4eph">{{cell.ff}}</td>
							  <td class="tg-4eph">{{cell.date}}</td>
							  <td class="tg-4eph"><a href="/media/{{cell.file}}">Download</a></td>
							  

						  </tr>
						{% endfor %}
						</table>		
					{% else %}
					    <p>No cells<p>
				    {% endif %}
                </div>
            </div>
		</div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script>
        var data = {{data_json|safe }};
        console.log(data);
        console.log(data[0][4])
        var parseDate = d3.time.format("%Y-%m-%dT%H:%M:%S").parse
        parseDate("2011-01-01T12:12:12.234323")
       
    </script>

{% endblock %}
