{% extends 'base.html' %}

{% block content %}
    <section id="message" class="register-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
					<h2>Invite a colleague</h2>

					{% if submitted %}
					<p>Thanks! Your Invitation has ben sent.</p>
					<a href="{% url 'home' %}">Return to homepage</a>
					{% else %}

					<form id = "invite_form" method="post" action="/invite/">

						{% csrf_token %}

						{{ invite_form.as_ul}}

						<input class="btn btn-primary page-scroll" type="submit" name="submit" value="Invite" />

					</form>
					{% endif %}

				</div>
			</div>
		</div>
	</section>

{% endblock %}
